<!-- Header Title for all pages-->

<div id="branding">
<span class="left">
        <h1><a href="$context/">$messages.get("webapp.name")</a></h1>
</span>
|
<span class="right">
    <span id="title">$format.html($title)</span>
    #if ($request.locale.language != "en")
        <div id="switchLocale"><a href="$context/?locale=en">$messages.get("webapp.name") in English</a></div>
    #end
</span>
<p>$messages.get("webapp.tagline")</p>
</div>

<hr />
