<div id="divider"><div></div></div>
<span class="left">$messages.get("webapp.version") |
    <span id="validators">
        <a href="http://validator.w3.org/check?uri=referer">XHTML Valid</a> |
        <a href="http://jigsaw.w3.org/css-validator/validator-uri.html">CSS Valid</a>
    </span>
    #if ($pageContext.request.remoteUser)
        | $messages.get("user.status") "authz:authentication operation=fullName"
    #end
</span>
<span class="right">
    &copy; $messages.get("copyright.year") <a href="$messages.get("company.url")>$messages.get("company.name")</a>
</span>
