/* 
    Document   : hdnv
    Created on : 11/02/2011, 16:30:29
    Author     : gilberto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#pre_navigation,#hdnv li, #hdnv li a {
	margin:0px;
	padding:0px;
}
#hdnv {
	width:234px;
	height:176px;
	display:block;
	list-style:none;
	float:left;
	padding:25px 0px 0px 27px;
	margin:0px;
}
#hdnv li {
	float:left;
	background:url(../images/hdnv.gif) no-repeat 0 center;
}
#hdnv li a {
	margin:0px;
	padding:3px 0px 3px 20px;
	display:block;
	width:214px;
	color:#666;
	font-size: 14px;
}
#hdnv li a:hover {
	text-decoration:none;
	color:#333;
}
#hdnv li a.act, #hdnv li a.act:hover {
	color:#333;
	font-weight: bold;
}
#pre_navigation {
	list-style: none;
	position: absolute;
	top: 20px;
	right: 30px;
}
#pre_navigation li {
	margin-left: 1px;
	background:#eee;
}
#pre_navigation li,#pre_navigation li a {
	float: left;
}
#pre_navigation li a {
	color:#666;
	padding: 5px 10px;
	text-decoration: none;
}
#pre_navigation li a.act,#pre_navigation li a.act:hover,#pre_navigation li a:hover {
	background:#ddd;
}
