<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>[GFI-CORE] %-5p %c - %m%n</pattern>
    </layout>
  </appender>
  <logger name="com.gilberto">
    <level value="DEBUG"/>
  </logger>
  <logger name="net.sourceforge.orbroker">
    <level value="DEBUG"/>
  </logger>
  <logger name="resource">
    <level value="INFO"/>
  </logger>
  <root>
    <level value="WARN"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>